/* Overlay styles */


.itembox-content {

    flex: 1 1 calc(33.33%-10px);
    display: inline-block;
    background-color: #fff;
    color: #0a0a0a;
    padding: 1em;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 40%;


}

.itembox-name {
    text-align: left;
    display: flex;
    justify-items: start;
}

.itembox-description {
    display: inline-block;
    text-align: left;
    border: #000;
    max-width: 100%;

    overflow-wrap: normal;
    box-sizing: border-box;
    word-wrap: break-word;
}

.itembox-btn {
    display: flex;
    background-color: #fff;
    border-color: var(--orange);
    color: #0a0a0a;
    justify-items: start;
}

.itembox-btn:hover {
    background-color: var(--orange);
    border-color: var(--orange);
    color: #fff;
}